<!-- IF PERMISSION_VIEW -->
<h3>{WHOVISITEDTHISTOPIC_TITLE}</h3>
<p>
<!-- BEGIN whovisitedthistopic -->
	<!-- IF PERMISSION_SHOW_AVATAR --><span class="whovisitedthistopic-avatar">{whovisitedthistopic.AVATAR}</span><!-- ENDIF --> <span><a href="{whovisitedthistopic.URL}" "{whovisitedthistopic.DATE}" "{whovisitedthistopic.USERNAME_COLOUR}">{whovisitedthistopic.USERNAME}</a></span><!-- IF PERMISSION_COUNT --> ({whovisitedthistopic.VISITS})<!-- ENDIF --><!-- IF not whovisitedthistopic.S_LAST_ROW -->, <!-- ENDIF -->
<!-- END whovisitedthistopic -->
</p>
<!-- ENDIF -->
